<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Odot</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/hack/0.7.7/hack.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/style.css">

</head>
<body class="hack">
    <div class="container">
        <div class="grid">
            <aside class="cell -3of12">
                {% include 'application/_navigation.twig' %}
            </aside>
            <main class="cell -9of12">
                {% include 'application/_flash.twig' %}
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>
</html>
