<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Odot</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/hack/0.7.7/hack.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/style.css">

</head>
<body class="hack">
    <div class="container">
        <div class="grid">
            <aside class="cell -3of12">
                <div class="t-hackcss-navigation">
                    <h2 class="t-hackcss-navigation-heading">Odot</h2>
                    <nav class="menu">
                        <a class="menu-item" href="#">
                            Montalvo Miguelo <div class="pull-right">»</div>
                        </a>
                        {% if not todo_list %}
                        <a class="menu-item" href="{{ path_for('todo_lists.create') }}">
                            Create List <div class="pull-right">»</div>
                        </a>
                        {% endif %}
                        {% if todo_list %}
                        <a class="menu-item" href="#">
                            Add a to-do <div class="pull-right">»</div>
                        </a>
                        {% endif %}
                    </nav>
                </div>
            </aside>
            <main class="cell -9of12">
                {% include 'application/_flash.twig' %}
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>
</html>
