{% extends "layout.twig" %}

{% block content %}

    <h1>Edit Item</h1>

    <form class="form" action="{{ path_for('todo_items.update', {id: todo_item.id}) }}" method="POST">
        <input type="hidden" name="_METHOD" value="PUT"/>
        {{ csrf_field() }}
        <fieldset class="form-group{% if flash_messages('error') %} form-error{% endif %}">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title" value="{{ todo_item.title }}">
        </fieldset>
        <div class="form-actions">
        </div>
        <input type="submit" class="btn btn-primary btn-block">
    </form>

    <p><a href="{{ path_for('todo_lists.show', {id: todo_item.todoList.id}) }}">Back</a></p>

{% endblock %}
